#map,
body,
html {
  height: 100%;
}

body {
  background-color: #364350;
}

h2 {
  font-size: 1.4em;
  line-height: 1em;
  padding-bottom: .2em;
  margin: 0;
  color: #364350;
}

#pausePlay {
  z-index: 1000;
  position: absolute;
  top: 100px;
  left: 10px;
  background-color: #fff;
}


#data {
  display: none;
  z-index: 1000;
  margin: 0 15px 15px 15px;
  position: relative;
}

#data .well {
  min-height: 300px;
}

#data #dataTitle h2 {
  font-size: 1.4em;
}

#data .nav {
  margin-bottom: 0;
  border-bottom: none;
}

#data .nav-tabs a {
  font-weight: bold;
  color: #ff7d37;
}

#data .nav-tabs a {
  font-weight: bold;
  color: #ff7d37;
  text-shadow: 1px 1px 3px #3D3D3D;
}

#data .nav-tabs .active a,
#data .nav-tabs a:hover {
  text-shadow: none;
}

#data .nav-tabs .active a {
  color: #000;
  background-color: #F5F5F5;
}

#data .controls .control {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

#data #pieChart {
  width: 900px;
  margin: 0 auto;
}

#data #pieChart rect {
  fill: none !important;
  
}


#data #dashboardData {
  clear: both;
}

#data #dashboardData .table-header-background td {
  background-color: #364350;
  color: #fff;
  border-left: 1px solid #5E5E5E;
  padding-left: 4px;
}

.leaflet-popup-content {
  width: 360px !important;
}

.leaflet-popup-content,
.popupWrapper h2 {
  margin: 0;
}

.popupWrapper {
  font-size: 1.2em;
}

.popupWrapper .item {
  border-bottom: 2px solid #d7d7d7;
  padding: 15px 1em 0;
}

.popupWrapper .dataItem {
  height: 45px;
}

.popupWrapper .addressWrapper {
  background-color: #EBEBEB;
  color: #364350;
  padding-bottom: 15px;
}

.popupWrapper .addressWrapper .ranking{
  font-size: 3em;
  line-height: .8em;
  color: #A5A5A5;
  font-weight: bold;
  padding-right: 10px;
}

.popupWrapper .addressWrapper .ranking span{
  font-size: .5em;
}


.popupWrapper .imageWrapper {
  width: 150px;
  height: 120px;
}

.popupWrapper .daysWrapper {
  border-bottom: none;
}

.popupWrapper .dataTitle {
  color: #A5A5A5;
  float: left;
  width: 120px;
  display: block;
  padding-left: 10px;
}

.popupWrapper .dataValue {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

.popupWrapper .dataValue.highlighted {
  color: #FE7E38;
}