html {
  font-family: desktop;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #364350;
}

.borough-tabs-title,
#show-menu {
  display: none;
}

#header {
  height: 80px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

#header h1 {
  margin: 10px;
}

#header .outside-links.nav-pills {
  top: 5px;
  right: 5px;
  position: absolute;
  color: #ccc;
  font-weight: bold;
  font-size: .95em;
}

#header .outside-links.nav-pills li.border {
  border-right: 1px solid #ccc;
}

#header .outside-links.nav-pills a {
  color: #364350;
  background: none !important;
  padding-top: 0;
  padding-bottom: 0;
}

#header .outside-links.nav-pills a:hover {
  color: #E87638;
}

#header #borough-tabs.nav-pills {
  margin-bottom: 0;
  position: absolute;
  top: 40px;
  right: 5px;
}

#header #borough-tabs.nav-pills li a:active,
#header #borough-tabs.nav-pills li a.active {
  background-color: #364350;
  border-color: #364350;
  color: #fff;
}

#right-bar {
  width: 300px;
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  height: auto;
  overflow: hidden;
  color: #fff;
  z-index: 10;
}

#right-bar .header {
  background-color: #2B353F;
}

#right-bar  h2{
  padding: .75em 0;
  text-align: center;
  color: #fff;
}

#right-bar .building-list-heading {
  height: 1.5em;
}

#right-bar .building-list-heading span{
  margin-left: 10px;
  font-weight: bold;
  color: #A5A5A6;
  width: 80px;
  display: block;
  float: left;
}

#right-bar #building-list {
  background-color: #364350;
  opacity: .9;
  -moz-opacity: .9;
  height: 100%;
  clear: both;
}

#right-bar  #building-list .item {
  padding: .75em 5px .75em 100px;
  cursor: hand; 
  cursor: pointer;
}

#right-bar  #building-list .highlighted {
  margin-left: -85px;
  font-size: 1.7em;
  font-weight: bold;
  color: #FE7E38;
  position: absolute;
  margin-top: 5px;
}

#right-bar  #building-list .item.active {
  background-color: #FE7E38;
}

#right-bar  #building-list .item.active .highlighted {
  color: #fff;
}


#right-bar #play-controls {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

#right-bar #play-controls a.active {
  background-color: #f5f5f5;
  color: #000;
}

#right-bar #play-controls a.active span:before {
  content: "\e001";
}

#map {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 0;
}

.leaflet-center {
  padding-right: 300px;
  padding-left: 40px;
  width: 60%;
  max-width: 900px;
}

#map .leaflet-control-geosearch {
  width: 60%;
}

#map .leaflet-control-geosearch input {
  margin: 0;
  font-size: 1em;
}

#map #geocode {
  position: relative;
  z-index: 7;
  pointer-events: auto;
  margin-top: 15px;
  margin-left: 10px;
}

#map .mapbox-share-popup textarea {
  width: 90%;
}

.deblasio-logo {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.leaflet-bottom.leaflet-right {
  left: 0;
  right: auto;
}



h2 {
  font-size: 1.4em;
  line-height: 1em;
  padding-bottom: .2em;
  margin: 0;
  color: #364350;
  text-transform: uppercase;
}

#data {
  display: none;
  z-index: 1000;
  margin: 0 15px 15px 15px;
  position: relative;
  margin-top: 100%;
}

#data .well {
  min-height: 1000px;
}

#data #dataTitle h2 {
  font-size: 1.4em;
}

#data #dataTitle h2 span {
  font-size: .9em;
  font-weight: normal;
}

#data .nav {
  margin-bottom: 0;
  border-bottom: none;
}

#data .nav-tabs a {
  font-weight: bold;
  color: #ff7d37;
}

#data .nav-tabs a {
  font-weight: bold;
  color: #ff7d37;
  text-shadow: 1px 1px 3px #3D3D3D;
}

#data .nav-tabs .active a,
#data .nav-tabs a:hover {
  text-shadow: none;
}

#data .nav-tabs .active a {
  color: #000;
  background-color: #F5F5F5;
}

#data .controls .control {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

#data .pieCharts svg>rect {
  fill: none !important;
}

#data .pieCharts {
  position: relative;
}

#data #pieChart2 {
  position: absolute;
  top: 0;
  left: 400px;
}


#data #dashboardData {
  clear: both;
}

#data #dashboardData .table-header-background td {
  background-color: #364350;
  color: #fff;
  border-left: 1px solid #5E5E5E;
  padding-left: 4px;
}




/* map poups */
.leaflet-popup-content {
  width: 360px !important;
}

.leaflet-popup-content,
.popupWrapper h2 {
  margin: 0;
}

.popupWrapper {
  font-size: 1.2em;
}

.popupWrapper .item {
  border-bottom: 2px solid #d7d7d7;
  padding: 15px 1em 0;
}

.popupWrapper .dataItem {
  height: 45px;
}

.popupWrapper .addressWrapper {
  background-color: #EBEBEB;
  color: #364350;
  padding-bottom: 15px;
}

.popupWrapper .addressWrapper .ranking{
  font-size: 3em;
  line-height: .8em;
  color: #A5A5A5;
  font-weight: bold;
  padding-right: 10px;
}

.popupWrapper .addressWrapper .ranking span{
  font-size: .5em;
}

.popupWrapper .addressWrapper #showData{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #364350;
  background-image: -moz-linear-gradient(bottom,#2B353F,#364350);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#364350),to(#2B353F));
  background-image: -webkit-linear-gradient(bottom,#2B353F,#364350);
  background-image: -o-linear-gradient(bottom,#2B353F,#364350);
  background-image: linear-gradient(to bottom,#2B353F,#364350);
  background-repeat: repeat-x;
  border-color: #2B353F #2B353F #364350;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}



.popupWrapper .imageWrapper {
  width: 150px;
  height: 120px;
}

.popupWrapper .daysWrapper {
  border-bottom: none;
}

.popupWrapper .dataTitle {
  color: #A5A5A5;
  float: left;
  width: 120px;
  display: block;
  padding-left: 10px;
}

.popupWrapper .dataValue {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

.popupWrapper .dataValue.highlighted {
  color: #FE7E38;
}



/* Responsive mobile-only tweaks */
@media (max-width: 600px) {
  html {
    font-family: mobile;
  }

  #header {
    overflow: visible;
    height: 50px;
  }

  #map {
    top: 50px;
  }

  #header h1 {
    margin: 5px;
  }

  #header img {
    max-height: 40px;
    width: auto;
  }

  #header .menu {
    position: absolute;
    z-index: 20;
    background-color: #fff;
    right: 0;
    top: 50px;
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
  }

  #header .menu .outside-links {
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    margin-bottom: 1em;
  }

  #header .menu .borough-tabs-title {
    margin: 0 10px;
  }

  #header #show-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .borough-tabs-title,
  #show-menu {
    display: block;
  }

  #right-bar,
  .menu,
  .leaflet-control-geosearch {
    display: none;
  }

  .leaflet-popup-content {
    width: 300px !important;
  }

  .popupWrapper .dataItem {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .popupWrapper .dataTitle {
    font-size: .8em;
    line-height: 1.2em;
  }

  .popupWrapper .dataValue {
    font-size: 1.5em;
    display: block;
    margin-left: 10px;
    float: left;
    margin-top: 3px;
  }

  .leaflet-center {
    padding-right: 0;
  }

  #data #pieChart2 {
    position: relative;
    left: 0;
    width: 300px;
  }
}

/* iPad portrait */
@media (max-width: 800px) {
  .menu {
    font-size: .85em;
  }
  #header img {
    max-width: 270px;
    height: auto;
  }
}